<a href="/">Back to Main Page</a> | <a href="/restaurants">Restaurants</a>

<h1>All Employees</h1>

<% @employees.each do |employee| %>
    <p><%= employee.first_name %> <%= employee.last_name %></p>
    <ul>
        <% if employee.currently_employed %>    
            <li>Current Employee</li>
            <li>Wage: $<%= employee.wage %> per hour</li>
        <% else %>
            <li>Former Employee<br>(wages hidden)</li>
        <% end %>
    </ul>
<% end %>

<hr>