<h1>Come Chow Down With Our Team!</h1>

<ul>
  <li><a href="/restaurants">Restaurants</a></li>
  <ul>
    <!-- might need additional routing later -->
    <li><a href="/employees">Employees</a></li>
  </ul>
  <li><a href="/customers">Customers</a></li>
  <ul>
    <!-- might need additional routing later -->
    <li><a href="/orders">Orders</a></li>
  </ul>
</ul>
