<a href="/">Back to Main Page</a> | <a href="/restaurants">All Restaurants</a> | <a href="/employees">All Employees</a>

<h1>Employees of: <%= @restaurant.name %></h1>

<% @restaurant.employees.each do |employee| %>
  <h4><%= link_to employee.first_name, "/employees/#{employee.id}" %> <%= link_to employee.last_name, "/employees/#{employee.id}" %></h4>
  <ul>
    <% if employee.currently_employed %>    
      <li>Current Employee</li>
      <li>Wage: $<%= employee.wage %> per hour</li>
    <% else %>
      <li>Former Employee<br>(wages hidden)</li>
    <% end %>
  </ul>
<% end %>