<a href="/">Back to Main Page</a><br>
<a href="/orders">Orders</a><br>
<a href="/customers">Customers</a><hr>

<br>
<br>

<h1>All Our Wonderful Customers!</h1>
<% @customers.order(created_at: :desc).each do |customer| %>
  <h3><a href="/customers/<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %></a> Joined on: <%= customer.created_at %></h3>

<% end %>
<p><a href="/customers/new">New Customer</a></p>
