<form action="/customers" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new customer:</p>
  <p>First Name</p>
  <input type='text' name='customer[first_name]'>
  <p>Last Name</p>
  <input type='text' name='customer[last_name]'>
  <p>Address</p>
  <textarea name='customer[address]'></textarea><br/>
  <p>Are they over 21 years of age?</p>
  <select id='customers' name='over_21'>
    <option value=TRUE>Yes</option>
    <option value=FALSE>No</option>
  </select>
  <p>Orders placed:</p>
  <input type='integer' name='customer[orders_placed]'><br/>
  <input type='submit'/>
</form>
