<a href="/customers">Back to Customers</a>

<h3>Customer Snapshot</h3>
<p>
  <%= @customer.first_name %>
  <% @customer.last_name %><br>
  <%= @customer.address %><br>
  <%= @customer.over_21 %><br>
  <%= @customer.orders_placed %>
</p>
