<a href="/">Back to Main Page</a><br>
<a href="/customers">Customers</a><br>
<a href="/orders">Back to Orders</a><hr>


<h1>Order Up!</h1>

<% @orders.each do |order| %>
<h3><a href="/orders/<%= order.id %>"><%= order.special_instructions %></h3>
<% end %>
