  <a href="/orders">Back to Orders</a>
  <a href="/">Home</a>

<h3>A closer look at your order</h3>
<p>
  Special Instructions: <%= @order.special_instructions %><br>
  Number of Items: <%= @order.number_of_items %><br>
  Paid?: <%= @order.paid %><br>
</p>
