<a href="/">Main Page</a><br>
<a href="/customers">Customers</a><hr>
<a href="/orders">Back to Orders</a>

<h3>A closer look at your order</h3>
<p>
  Special Instructions: <%= @order.special_instructions %><br>
  Number of Items: <%= @order.number_of_items %><br>
  Paid?: <%= @order.paid %><br>
</p>
<a href="/orders/<%= @order.id %>/edit">Update Order"</a>
